.header {
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: cadetblue;
    padding: 5px;
}

.row {
    text-align: center;
    font-weight: bold;
    padding: 5px;
    border-bottom: 1px solid cadetblue;
}

.right-column {
    border-right: 1px solid cadetblue;
    text-align: left;
}

.left-column {
    border-left: 1px solid cadetblue;
    border-right: 1px solid cadetblue;
    text-align: right;
}

.link:hover {
    background-color: darkslategray;
    cursor: pointer;
}

.icon {
    cursor: pointer;
}

td {
    border: cadetblue 1px solid;
    padding: 5px;
}

table {
    border-collapse: collapse;
}

.head {
    background: cadetblue;
    color: white;
    font-weight: bold;
    text-align: center;
}

.border-bottom-white {
    border-bottom-color: white;
}
div.border-bottom-white {
    border-bottom-color: white;
    margin-bottom: 1px;
}
.border-right-white {
    border-right-color: white;
}

.no-border {
    border: none;
}

.cursive {
    font-style: italic;
}