<div fxFlex="1 1 100%" fxLayout="column" fxLayoutAlign="start stretch" class="content" >

    <div fxLayout="row" style="border-bottom: 1px solid white;" >
        <div fxFlex="5" class="header link" style="border-right: 1px solid white;"
            [routerLink]="['/records']" [title]="'Return to records list'" >
            <fa-icon class="icon" [icon]="faList"></fa-icon>
        </div>
        <div fxFlex="10" class="header link" style="border-right: 1px solid white;"
            [routerLink]="['/record', prevId]" [title]="'Go to id ' + prevId" >
            <fa-icon class="icon" [icon]="faLeft"></fa-icon>
        </div>
        <div fxFlex="1 1 100" class="header" >
            Record id = {{recordId}}
        </div>
        <div fxFlex="10" class="header link" style="border-left: 1px solid white;"
            [routerLink]="['/record', nextId]" [title]="'Go to id ' + nextId" >
            <fa-icon class="icon" [icon]="faRight"></fa-icon>
        </div>
    </div>

    <div fxLayout="row" >
        <div fxFlex="40" class="header" style="border-right: 1px solid white;" >
            Parameter
        </div>
        <div fxFlex="60" class="header" >
            Value
        </div>
    </div>

    <div *ngIf="record; else norecordtemplate">
        <div fxLayout="row" *ngFor="let key of getKeys(); let i = index;" >
            <div fxFlex="40" class="row left-column" >
                {{key}}
            </div>
            <div [ngSwitch]="key" fxFlex="60" class="row right-column" >
                <ng-template ngSwitchCase="startedAt">{{record[key] | toDate | date:'dd.MM.yyyy hh:mm'}}</ng-template>
                <ng-template ngSwitchCase="finishedAt">{{record[key] | toDate | date:'dd.MM.yyyy hh:mm'}}</ng-template>
                <ng-template ngSwitchCase="duration" >{{record[key] | duration:"sec" }}</ng-template>
                <ng-template ngSwitchCase="displayedNumber" >{{record[key] | phone}}</ng-template>
                <ng-template ngSwitchDefault>{{record[key]}}</ng-template>
            </div>
        </div>
        <div fxLayout="row" class="border-bottom-white" >
            <div fxFlex="100" class="header" >
                Wrapups:
            </div>
        </div>
        <div fxLayout="row" >
            <form *ngIf="form" novalidate [formGroup]="form" (ngSubmit)="saveData()" fxFlex="100" fxLayout="column" >
                <table cols="3" cellspacing="0" fxFlex="1 1 100%" > 
                    <thead class="head">
                        <tr>
                            <td class="border-right-white">Wrapup</td>
                            <td class="border-right-white">Agent</td>
                            <td>Comment</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let wp of record.wrapups; let i = index;" >
                            <td style="text-align: center;">{{wp.wrapupId | lookup:wrapups:"id":"name"}}</td>
                            <td style="text-align: center;">{{wp.agentId | lookup:agents:"id":getFullName }}</td>
                            <!-- <td style="text-align: center;">{{wp.wrapupComment}}</td> -->
                            <td >
                                <div [ngStyle]="{ 'display': (wp.wrapupId == editableId)?'flex':'none' }">
                                    <input #input  name="{{wp.wrapupId}}" formControlName="{{'id' + wp.wrapupId}}"
                                        (keyup.enter)="onEnterEvent($event)"
                                        (keydown.esc)="cancelEdit()"
                                        [style.flex]="'1 1 100%'" class="cursive" >
                                    <fa-icon class="icon" [icon]="faUndo" (click)="cancelEdit()" [style.marginLeft.px]="5"></fa-icon>
                                    <!-- <button (click)="cancelEdit()" [style.marginLeft.px]="5" type="button" >Cancel</button> -->
                                </div>
                                <div [style.display]="(wp.wrapupId == editableId)?'none':'flex'">
                                    <span [style.flex]="'1 1 100%'" >{{form.value['id' + wp.wrapupId]}}</span>
                                    <fa-icon class="icon" [icon]="faEdit" (click)="editElement(wp.wrapupId, input)" [style.marginLeft.px]="5"></fa-icon>
                                    <!-- <button (click)="editElement(wp.wrapupId, input)" [style.marginLeft.px]="5" type="button" >Edit</button> -->
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="5px" class="table-footer" >
                    <button type="submit" class="btn" [disabled]="form.pristine || editableId != null" >Save changess</button>
                    <button type="button" class="btn" (click)="resetForm()" [disabled]="form.pristine || editableId != null" >Cancel changess</button>
                </div>
            </form>
        </div>
    </div>
</div>


<ng-template #norecordtemplate>
    <div fxLayout="row" fxFlex="1 1 100" fxLayoutAlign="center center">
        NO RECORD
    </div>
</ng-template>

