div.main {
    background: cyan;
    height: 100%;
    width: 100%
}

div.menu {
    margin: 10px;
}

div.content {
    margin: 10px;
    margin-left: 0px;
}

div.border {
    border: blue 1px solid;
}